<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="defaultSecureConfigFile" value="C:\Program Files\Haskell Tech\O365PWSync\secureconfig.dat" />
    <add key="defaultDatabaseFilename" value="C:\Program Files\Haskell Tech\O365PWSync\sync.db" />
    <add key="consentURL" value="https://login.microsoftonline.com/{TenantName}.onmicrosoft.com/adminconsent?client_id={ApplicationID}"/>
  </appSettings>
</configuration>